@use "./variables" as *;

.calculator {
  background-color: #f0605c;
  max-width: 20rem;
  padding: 1rem;
  border-radius: $border-rad;
  box-shadow: 4px 4px bisque;

  display: grid;
  grid-auto-columns: 70px;
  grid-auto-rows: 90px 60px 60px 60px 60px 60px;
  grid-template-areas:
    "output output output output"
    "remove posNeg percent divide"
    "seven eight nine multiply"
    "four five six minus"
    "one two three plus"
    "zero zero decimal equals";

  .calculator__output-container {
    grid-area: output;
    background-color: black;
    box-shadow: inset 1px 1px 3px 3px grey;
    border-radius: $border-rad;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    padding: 1rem;
    margin: 0.3rem;

    .calculator__output {
      font-family: $font-output;
      color: lime;
      height: 2.8rem;
      font-size: 2.8rem;
    }
  }

  .calculator__inputs {
    font-family: $font-input;
    font-size: 1.3rem;
    background-color: bisque;
    box-shadow: 2px 2px lightblue;
    margin: 0.3rem;
    border-radius: $border-rad;

    &:active {
      position: relative;
      right: -2px;
      bottom: -2px;
      box-shadow: unset;
    }

    &--percent,
    &--divide,
    &--multiply,
    &--minus,
    &--plus,
    &--equals {
      background-color: rgb(252, 187, 107);
    }

    &--ac {
      grid-area: remove;
    }

    &--posNeg {
      grid-area: posNeg;
    }

    &--percent {
      grid-area: percent;
    }

    &--divide {
      grid-area: divide;
    }

    &--seven {
      grid-area: seven;
    }

    &--eight {
      grid-area: eight;
    }

    &--nine {
      grid-area: nine;
    }

    &--multiply {
      grid-area: multiply;
    }

    &--four {
      grid-area: four;
    }

    &--five {
      grid-area: five;
    }

    &--six {
      grid-area: six;
    }

    &--minus {
      grid-area: minus;
    }

    &--one {
      grid-area: one;
    }

    &--two {
      grid-area: two;
    }

    &--three {
      grid-area: three;
    }

    &--plus {
      grid-area: plus;
    }

    &--zero {
      grid-area: zero;
    }

    &--decimal {
      grid-area: decimal;
    }

    &--equals {
      grid-area: equals;
    }
  }
  .isActive {
    background-color: lime;
    color: white;
  }
}
