@use "./variables" as *;

.calculator {
  background-color: coral;
  max-width: 18.25rem;
  padding: 0.4rem;
  border-radius: 5px;
  display: grid;
  grid-auto-columns: 70px;
  grid-auto-rows: 70px;
  grid-template-areas:
    "output output output output"
    "remove posNeg percent divide"
    "seven eight nine multiply"
    "four five six minus"
    "one two three plus"
    "zero zero decimal equals";

  .calculator__output-container {
    // min-height: 3rem;
    grid-area: output;
    background-color: black;
    border-radius: 5px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    padding: 0.3rem;
    margin: 0.3rem;

    .calculator__output {
      font-family: $font-output;
      color: lime;
      // text-align: right;
      height: 2.5rem;
      font-size: 2.5rem;
    }
  }

  .calculator__inputs {
    font-family: $font-input;
    font-size: 1.3rem;
    background-color: bisque;
    box-shadow: 2px 2px lightblue;
    margin: 0.3rem;
    border-radius: 5px;

    &--ac {
      grid-area: remove;
    }

    &--posNeg {
      grid-area: posNeg;
    }

    &--percent {
      grid-area: percent;
    }

    &--divide {
      grid-area: divide;
    }

    &--seven {
      grid-area: seven;
    }

    &--eight {
      grid-area: eight;
    }

    &--nine {
      grid-area: nine;
    }

    &--multiply {
      grid-area: multiply;
    }

    &--four {
      grid-area: four;
    }

    &--five {
      grid-area: five;
    }

    &--six {
      grid-area: six;
    }

    &--minus {
      grid-area: minus;
    }

    &--one {
      grid-area: one;
    }

    &--two {
      grid-area: two;
    }

    &--three {
      grid-area: three;
    }

    &--plus {
      grid-area: plus;
    }

    &--zero {
      grid-area: zero;
    }

    &--decimal {
      grid-area: decimal;
    }

    &--equals {
      grid-area: equals;
    }
  }
}
